.content{
    
    margin-top: 3%;
    /* height: 100vh; */
    /* background-color: blue; */
    width: 100%;
    margin-right: 5%;

}

.content .card{
    -webkit-box-shadow: 0 4px 8px -4px #ccc;  
    -moz-box-shadow: 0 4px 8px -4px #ccc; 
    box-shadow: 0 4px 8px -4px #ccc;
}

