POSTGRES_USER=yourpassword
POSTGRES_PASS=yourpassword
APP_NAME=dud_main
RAILS_ENV=development
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true
NODE_ENV=development
NPM_OPTIONS=yarn install --production --silent --no-spin
BUNDLE_OPTIONS=--without development test
CMD_OPTIONS=bundle exec rails assets:precompile
PUMA_PORT=3000
DOMAIN_NAME=.dud-main.local
RAILS_MAX_THREADS=7
WEB_CONCURRENCY=2