<% content_for :breadcrumb do  %>
  <li class="breadcrumb-item active" aria-current="page">
    Listado de Usuarios
  </li>
<% end %>

<table
  data-toggle="table"
  data-search="true"
  data-show-refresh="true"
  data-show-toggle="true"
>
  <thead>
  <tr>
    <th>Item ID</th>
    <th>Item Name</th>
    <th>Item Price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Item 1</td>
    <td>$1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Item 2</td>
    <td>$2</td>
  </tr>
  </tbody>
</table>