<% content_for :breadcrumb do  %>
  <li class="breadcrumb-item active" aria-current="page">
    Nuevo Usuario
  </li>
<% end %>

<div class="card">
  <div class="card-header">
    Rellena el Formulario
  </div>
  <div class="card-body">
    <%= form_for @admin, url: user_credentials_path do |f| %>
      <%= render partial: 'layouts/errors', locals: {errors: @admin.errors }  %>
      <%= render partial: 'form', locals: {admin: @admin, f: f} %>
      <%= f.submit("Crear",{class: 'btn btn-primary'})%>
    <% end %>
  </div>
</div>