<div class="form-row">
  <div class="form-group col-md-6">
    <%= label_tag :person_id %>
    <%= select_tag 'person_id', options_for_select(@people.collect{|c| ["#{c.full_name} (#{c.active_my_title.try(:title_obtained).try(:name)})", c.id]}), { prompt: 'Ninguna' ,style: 'width: 100%',class: 'custom-select js-example-basic-single'} %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :meeting_id %>
    <%= f.select :meeting_id, @people.collect{|c| ["#{c.full_name} (#{c.active_my_title.try(:title_obtained).try(:name)})", c.id]}, {prompt: 'Ninguna'}, { style: 'width: 100%',class: 'custom-select js-example-basic-single'} %>
  </div>

</div>