.container-search{
    background-color: white;
    height: 100vh;

}

.search{
    /* background-color: green; */
    /* margin-top: 0%; */
    /* border-color: red; */
}

.sidebar{
    /* background-color: blue; */
    margin-right: 5%;
    width: 30%;
    margin-left: 5%;
}

.content{
    /* background-color: yellow; */
    width: 70%;
    margin-right: 5%;

} 