<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-male"></i>
          Administración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fas fa-users mr-1"></i>Miembros</a>
          <a class="dropdown-item" href="#"><i class="fas fa-file-alt mr-1"></i>Reuniones</a>
          <a class="dropdown-item" href="#"><i class="fab fa-discourse mr-1"></i>Mi Avance</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cogs"></i>
          Configuración
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= user_credentials_path %>"><i class="fas fa-users mr-1"></i>Usuarios</a>
          <a class="dropdown-item" href="#"><i class="fas fa-file-alt mr-1"></i>Tipos Reuniones</a>
          <a class="dropdown-item" href="#"><i class="fab fa-discourse mr-1"></i>Tipos Cursos o Estudios</a>
          <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">
            <i class="fas fa-sign-in-alt mr-1"></i>Salir del Sistema
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<% end %>